# Gradle
.gradle/
build/

# IntelliJ
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Log
*.log

# Spring Boot
target/

# 환경변수
.env
application-secret.yml

# Redis/Kafka Data
dump.rdb
/data/

# 추가적인 IntelliJ 설정
out/
.gen/

# OS 관련
Thumbs.db
